body{
    background-color: #ffffff;
    background-image: url()
    

}


p{
    color: gray;
    background-color: #1499eb00;
    text-align: center;
}

p:hover{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}
img{
    height: 120px;
}
.box{
    background-color: white;
    padding: 20px;
    margin-left: 80px;
    margin-right: 120px;
}

table{
    background-color: white;
}